<div class="auth-main">
  <div class="auth-block">
    <h1>TEAMCLUB</h1>
    <a routerLink="/register" class="auth-link">新用户? 注册!</a>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!userName.valid && userName.touched), 'has-success': (userName.valid && userName.touched)}">
        <label for="inputEmail3" class="col-sm-2 control-label">帐号</label>
        <div class="col-sm-10">
          <input [formControl]="userName" type="email" class="form-control" id="inputEmail3" placeholder="帐号">
          <p *ngIf="!userName.valid && userName.touched">无效的帐号</p>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error': (!userPassword.valid && userPassword.touched), 'has-success': (userPassword.valid && userPassword.touched)}">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>

        <div class="col-sm-10">
          <input [formControl]="userPassword" type="password" class="form-control" id="inputPassword3" placeholder="密码">
          <p *ngIf="!userPassword.valid && userPassword.touched">最小长度为4</p>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">登录</button>
          <a routerLink="/login" class="forgot-pass">忘记密码?</a>
        </div>
      </div>
    </form>

    <!--<div class="auth-sep"><span><span>or Sign in with one click</span></span></div>-->

    <!--<div class="al-share-auth">-->
      <!--<ul class="al-share clearfix">-->
        <!--<li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>-->
        <!--<li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>-->
        <!--<li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
